spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/concert?useUnicode=yes&characterEncoding=UTF-8&rewriteBatchedStatements=true
      driver-class-name: com.mysql.cj.jdbc.Driver
      maximum-pool-size: 10
      max-lifetime: 30000
      connection-timeout: 3000
      username: sa
      password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

logging:
  level:
    org:
      springframework:
        transaction=DEBUG:

---
jwt:
  expiration-time: 86400000 # 60 * 60 * 24 * 1000 : 1Ïùº
  secret: Y29uY2VydC1tNXMzLWJhc2U2NAY29uY2VydC1tNXMzLWJhc2U2NAY29uY2VydC1tNXMzLWJhc2U2NA